<div class="tasks-container">
  <div class="header-buttons">
    <button
      mat-raised-button
      class="add-task-button"
      (click)="useReactiveDialog ? addTask() : openTaskPage()"
      *ngIf="isAllTasksRoute"
    >
      Add Task
    </button>
    <mat-slide-toggle [(ngModel)]="useReactiveDialog">
      Use Reactive Task Dialog
    </mat-slide-toggle>
  </div>
  <!-- Tasks Grid -->
  <div class="tasks-grid">
    <mat-card
      *ngFor="let task of tasks"
      class="task-card"
      [class.completed]="task.isCompleted"
    >
      <div class="task-actions">
        <mat-card-content>
          <mat-card-title>{{ task.taskName }}</mat-card-title>
          <p *ngIf="task.taskDescription">
            {{ task.taskDescription }}
          </p>
        </mat-card-content>

        <mat-card-content>
          <div class="task-buttons">
            <mat-slide-toggle [(ngModel)]="task.isCompleted" color="primary" />
            <button
              mat-raised-button
              class="edit-task"
              (click)="useReactiveDialog ? editTask(task) : openTaskPage(task)"
            >
              Edit
            </button>
            <button
              mat-raised-button
              class="delete-task"
              (click)="deleteTask(task.itemId)"
            >
              Delete
            </button>
          </div>
        </mat-card-content>
      </div>

      <mat-card-footer>
        <div class="task-footer">
          <span class="due-date"
            >Due: {{ task.dueDate | date : "shortDate" }}</span
          >
          <span class="tags">Tags: {{ task.tags }}</span>
        </div>
      </mat-card-footer>
    </mat-card>
  </div>
  <router-outlet></router-outlet>
</div>
