<div class="p-[20px]">
  <div class="w-full mb-6">
    <div class="relative w-full max-w-xl mx-auto">
      <mat-icon
        class="absolute left-3 top-1/2 transform -translate-y-1/2 text-gray-400"
        aria-hidden="true"
        >search</mat-icon
      >
      <input
        matInput
        [(ngModel)]="filterText"
        placeholder="Search by name, description, or tags"
        class="w-full py-2 pl-10 pr-4 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-800 focus:border-blue-800 transition-all"
      />
    </div>
  </div>

  <div class="flex justify-between">
    <button
      mat-raised-button
      class="add-task-button"
      (click)="useReactiveDialog ? addTask() : openTaskPage()"
      *ngIf="isAllTasksRoute"
    >
      Add Task
    </button>
    <mat-slide-toggle [(ngModel)]="useReactiveDialog">
      Dialog View
    </mat-slide-toggle>
  </div>
  <div class="tasks-grid gap-5">
    <mat-card
      *ngFor="let task of tasks | taskFilter : filterText"
      class="task-card"
      [class.completed]="task.isCompleted"
    >
      <div class="flex flex-row justify-between">
        <mat-card-content>
          <mat-card-title>{{ task.taskName | uppercase }}</mat-card-title>
          <p *ngIf="task.taskDescription" class="text-[#7f8c8d] text-md py-2">
            {{ task.taskDescription | titlecase | slice : 0 : 100 }}
          </p>
        </mat-card-content>

        <mat-card-content>
          <div class="flex flex-col">
            <mat-slide-toggle
              [(ngModel)]="task.isCompleted"
              color="primary"
              (change)="toggleTaskCompletion(task)"
            />
            <button
              mat-raised-button
              class="edit-task"
              (click)="useReactiveDialog ? editTask(task) : openTaskPage(task)"
            >
              Edit
            </button>
            <button
              mat-raised-button
              class="delete-task"
              (click)="deleteTask(task.itemId)"
            >
              Delete
            </button>
          </div>
        </mat-card-content>
      </div>

      <mat-card-footer>
        <div class="task-footer">
          <span class="font-semibold" appTaskDueDate="{{ task.dueDate }}">
            Due: {{ task.dueDate | date : "dd/MM/yyyy" }}
          </span>
          <span class="italic">Tags: {{ task.tags }}</span>
        </div>
      </mat-card-footer>
    </mat-card>
  </div>
  <router-outlet></router-outlet>
</div>
