<h2 mat-dialog-title>
  {{ data.mode === "edit" ? "Edit Task" : "Add Task" }}
</h2>

<form [formGroup]="taskForm" (ngSubmit)="saveTask()">
  <mat-dialog-content class="form-class">
    <mat-form-field appearance="fill">
      <mat-label>Task Name</mat-label>
      <input matInput formControlName="taskName" #taskNameInput />
      <mat-error *ngIf="taskForm.get('taskName')?.hasError('required')">
        Task Name is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Task Description</mat-label>
      <textarea matInput formControlName="taskDescription"></textarea>
      <mat-error *ngIf="taskForm.get('taskDescription')?.hasError('required')">
        Task Description is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Due Date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="dueDate" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <!-- Tags Section -->
    <div>
      <label>Tags</label>
      <div formArrayName="tags" class="tags-list">
        <div
          *ngFor="let tag of tags.controls; let i = index"
          [formGroupName]="i"
          class="tag-item"
        >
          <mat-form-field appearance="outline" class="tags-form">
            <input matInput formControlName="value" placeholder="Enter tag" />
          </mat-form-field>
          <button
            type="button"
            mat-icon-button
            color="warn"
            (click)="removeTag(i)"
          >
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </div>
      <button
        type="button"
        mat-button
        color="primary"
        (click)="addTag()"
        class="add-tag"
      >
        <mat-icon>add</mat-icon> Add Tag
      </button>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button (click)="closeDialog()" class="cancel-button">
      Cancel
    </button>
    <button mat-raised-button [disabled]="taskForm.invalid" class="save-button">
      Save
    </button>
  </mat-dialog-actions>
</form>
