<h1 mat-dialog-title>
  {{ mode === "edit" ? "Edit Task" : "Add Task" }}
</h1>
<form #taskForm="ngForm" (ngSubmit)="onSave()">
  <mat-dialog-content class="mat-dialog-content">
    <div
      ngModelGroup="taskDetails"
      #taskGroup="ngModelGroup"
      class="mat-dialog-content"
    >
      <mat-form-field appearance="fill">
        <mat-label>Title</mat-label>
        <input
          matInput
          type="text"
          [(ngModel)]="task.taskName"
          name="taskName"
          required
          placeholder="Enter task title"
          #taskName="ngModel"
          #taskNameInput
        />
        <mat-error *ngIf="taskName.invalid && taskName.touched">
          Title is required.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <textarea
          matInput
          rows="3"
          [(ngModel)]="task.taskDescription"
          name="taskDescription"
          placeholder="Enter task description"
          required
          #taskDescription="ngModel"
        ></textarea>
        <mat-error *ngIf="taskDescription.invalid && taskDescription.touched">
          Description is required.
        </mat-error>
      </mat-form-field>
    </div>

    <mat-form-field appearance="fill">
      <mat-label>Tags</mat-label>
      <input
        matInput
        type="text"
        [(ngModel)]="task.tags"
        name="tags"
        placeholder="e.g., work, priority"
        #tags="ngModel"
      />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Due Date</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        [(ngModel)]="task.dueDate"
        name="dueDate"
        placeholder="Select due date"
        #dueDate="ngModel"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button class="cancel-button" type="button" (click)="onCancel()">
      Cancel
    </button>
    <button
      mat-raised-button
      class="save-button"
      type="submit"
      [disabled]="!isTaskModified() || taskGroup.invalid"
    >
      {{ mode === "edit" ? "Save" : "Add" }}
    </button>
  </mat-dialog-actions>
</form>
